//--imports
@import "_grid";
$max-width: 800px;
$item-height: 380px; 
$item-width: 780px; 

body {
	margin: 0;
	padding: 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	$item-width: 480px;
	$max-width: 480px;
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	$item-width: 900px;
	$max-width: 1024px;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
	$item-width: 758px;
	$max-width: 768px;
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	$item-width: 780px; 
	$max-width: 758px;
}

@media only screen and (min-device-width : 600px) and (max-device-width : 960px) and (orientation : portrait) {
	$item-width: 590px; 
	$max-width: 600px;
}

/*
@media screen and (max-width: 480px) {
	$item-width: 480px;
} 
@media screen and (max-width: 680px) {
	$item-width: 680px;
} 
@media screen and (max-width: 900px) {
	$item-width: 800px; 	
} 
*/


 
 
@mixin animated-obj($duration) {
	-webkit-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
	margin: 0;
	padding: 0;		
	border: none;
	//visibility: hidden;
	position: absolute;
}

/*	[layout]	*/
	.wrapper {
		border: solid 1px #ccc;
		//margin: 0 auto;
		margin: 0;
		max-width: $max-width;
		position: relative;
		font-family: Arial;
		background-color: #eee;
		overflow: hidden;
		box-shadow: 2px 2px 10px #888888;
		position: relative;
		max-height: 500px;
		overflow: auto;
		
	}
/*	[/layout]	*/

/*	[objects]	*/
	nav {
		//margin: 0 auto 3px auto;
		margin: 0;
		max-width: $max-width;
		button {
			border: solid 1px #ccc;
			background-color: #eee;
			cursor: pointer;
			&:hover {
				background-color: #ddd;				
			}
			padding: 5px 15px;
		}
	}
	#map-canvas {
		width: 100%;
		height: 400px;
		//position: absolute;
		border: solid 1px #999;
		z-index: 9;
		//top: 150px;
		//left: 0;
		//opacity: 0.9;
		//visibility: hidden;
		display: none;
		&.active {
			//visibility: visible;
			display: block;
		}
	}
/*	[/objects]	*/

/*	[.js]	*/	
	.content {
		margin: 10px;
		border: solid 1px #666;
		padding: 15px;
		background-color: #fff;
		position: relative;
		left: 0; 
	}
	.row {
		border-bottom: solid 1px #ccc;	
		padding: 5px 0;
	}	
	.cell {
		display: inline-block;
		//padding: 10px;
		width: 16%;
		vertical-align: top;
		font-size: 13px;
	}
	.title {
		font-weight: bold;
		font-size: 15px;
	}	
	.w-0 {
		font-weight: bold;
	}
	.w-4 {
		text-align: center;
		font-weight: bold;
	}
	.w-3 {
		width: 40%;
		display: none;
	}
	
	
	.toggled {
		//display: none;
		opacity: 0.0;
		left: -9999px;
		position: absolute;
	}
	.active {
		-webkit-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		opacity: 1;
		left: 0;
	}
	.animated {
		@include animated-obj(1s);
		left: -9999px;
	}
	.selected {
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: #c8f4e0;
	}
	
	#info {
		min-height: 90px;
		min-width: 150px;
		h2 {
			font-size: 15px;
			margin: 0;
		}
	}
	
.jq-img {
	//max-width: 300px;
	
	img {
		//width: auto;
		width: $item-width;
		height: $item-height;
		max-width: 100%; 
	}
}

.jq-gyro {
	overflow: hidden;
	position: absolute;
	z-index: 1000;
	max-width: $item-width;
	//max-height: 300px;
	max-height: $item-height;
	background: #000;
	//padding-bottom: 25px;	
	.jq-z-elem {
		position: absolute;
		height: $item-height;
	}
	.jq-box {		
		width: 20%;		
		img {
			max-width: 100%;
			height: $item-height;
			-webkit-transition: all 0.7s ease-in-out;
			transition: all 0.7s ease-in-out;
		}
	}
	.jq-hider {
		width: 80%;
		background-color: #000;
	}
}
/*
.jq-zoomed {
	
	.jq-box {		
		width: 40%;			
	}
	.jq-hider {
		width: 60%;
	}
}
*/

.lnk {
	color: #296fb6;
	font-weight: bold;
	text-decoration: none;
}

.jq-close {
	border-radius: 15%;
	background-color: #eee;
	font-weight: bold;
	border: solid 1px #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: solid 1px #aaa;
	font-size: 18px;
}

.gyro-data {
	display: none;
	float: right;
	position: absolute;
	z-index: 2000;
	background-color: #eee;
	font-size: 12px;
	font-family: Arial;
}

.w-0, .w-1 {
	visibility: hidden;
	left: -9999px;
	position: relative;
}

.w-2 {
	display: block;
}
.row {
	padding: 0;
	border: none;
	.cell {
		
		width: auto;
	}
	input {
		border: solid 1px #ccc;
		border-radius: 5px;
		background-color: #eaeaea;
		padding: 3px 10px;
		cursor: pointer;
		font-family: arial;
	}
}



/*
.content {	
	.row {
		width: 25%;
		float: left;
		border: none;
	}
	.row:first-child {
			width: auto;
			float: none;
			display: none;
	}
}
*/