//layout.scss


@media only screen and (max-width: 480px) {
	.wrapper {
		.nav--top {
			li {
				//float: none;
				//width: auto;
				width: 33.2%;
				a {
					border: none;
					text-decoration: none;
				}
			}
		}
		
		.js-btn {
			//clear: both;
		}
		#jq-change-lang, #jq-search-term {
			display: block;
		}
		
		#jq-search-term {
			margin: 10px 0;
		}
	}
}