/*	[layout]	*/
	body {
		margin: 0;
		padding: 0;
	}
	.wrap {
		max-width: $max-width;
		margin: 0 auto;
		font-family: $txt-fonts;
	}
/*	[/layout]	*/

/*	[fonts]	*/
	.wrap {
		font-size: $txt-medium;
	}
	label {
		display: block;
	}	
/*	[/fonts]	*/
