//--imports
@import "_grid";

$max-w: 700px;
$padding: 15px;
$img-folder: "../images/";

@mixin shadow {
	-webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.55);
}
body {
	font-family: Arial;
	background: #144f0c url($img-folder + 'bg-green.jpg') repeat-x 0 0;
}
.wrapper {
	margin: 0 auto;
	max-width: $max-w - $padding*2;
	padding: $padding;
	border: solid 1px #666;
	@include shadow;
	background-color: #fff;
}

.cmd--list {
	font-weight: bold;
	font-size: 10px;
	a {
		color: #2a50be;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:visited {
			color: #2a50be;
		}
	}
}
.txt--center {
	text-align: center;
}
.compass {
	//padding: 15px;
	border: solid 1px #666;
	background-color: #5ab2b3;
	font-weight: bold;
	border-radius: 50%;
	margin: 0 auto;
	line-height: 10px;
	width: 44px;
	padding: 15px 0;
	text-align: center;
}
.txt {
	//font-style: italic;
	font-weight: bold;
}
.txt--shadow {
	text-shadow: 2px 2px 1px rgba(144, 150, 150, 0.82);
}