//variables

$icon-size: 50px;
$brand-blue: #1b3ea2;
$brand-content: #fff;
$brand-tab: #ececec;
$color-input: #a3b8e8;


//---for vertical btn & wrapping element
$vertical-height: 200px;

$obj-padding: 20px;
$img-folder : '../assets/images/';
// $img-folder: '/..assets/images/';
