.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12 {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12 {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12 {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
.jq-focused {
  color: #fff;
  padding: 3px 5px;
  display: inline-block;
  background-color: #6bbe3d;
  position: relative;
  margin-left: 20px; }

.jq-index {
  position: absolute;
  left: -17px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 9999;
  font-size: 10px;
  top: 0;
  font-weight: normal;
  width: 15px;
  min-height: 15px;
  padding-top: 3px; }

p.term {
  margin: 0 0 3px 0;
  font-weight: bold;
  color: #000;
  font-size: 12px;
  padding: 0; }

.js-panel {
  position: absolute;
  border: solid 2px #999;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  font-size: 11px; }

.js-find-count {
  font-weight: bold;
  font-size: 13px; }

.js-btn {
  margin: 5px 20px 0 0;
  color: #fff;
  background-color: #ccc;
  float: left;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 10px;
  background-color: #333;
  display: block;
  border: solid 1px #999; }
  .js-btn:hover {
    opacity: 0.9; }

.js-panel {
  display: none; }

body {
  font-family: Arial;
  background: #ccc; }

.wrapper {
  margin: 0 auto;
  max-width: 820px;
  padding: 15px;
  border: solid 1px #666;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.55);
  background-color: #fff; }

video {
  max-width: 100%; }

ul.nav {
  margin: 0;
  padding: 0;
  background-color: #eee;
  float: left;
  width: 100%; }
  ul.nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    width: 16.6%;
    text-align: center; }
    ul.nav li a {
      display: block;
      border-left: solid 1px #666666;
      padding: 5px 10px;
      font-size: 13px; }
    ul.nav li:first-child a {
      border-left: none; }

h2 {
  margin: 0 0 15px 0; }

h3 {
  color: #2db747; }

.block {
  padding: 15px;
  background-color: #abdeaa;
  margin-bottom: 15px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out; }

.block--tall {
  background-color: #aaadde; }

.block--medium {
  background-color: #decfaa; }

/*
.col {
	float: none;
	width: 100%;
}
*/
.fi {
  background-color: #2934e1;
  color: #fff; }

.blurred {
  opacity: 0.2; }
